@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRegular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayExtraBold.ttf");
  font-weight: 800;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100%;
  font-size: 1.5em;
}

.container {
  width: 850px;
  margin: 0 auto;
}

.min-cont {
  display: flex;
  flex-direction: column;
  width: 596px;
  min-height: inherit;
  margin: 0 auto;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 289px;
}

nav a {
  display: flex;
  height: 2em;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Raleway;
  color: #6c6b6b;
  font-size: 14px;
  font-weight: 400;
}

nav a:hover {
  color: #ec5483;
}

main {
  height: 3705px;
}

.backgr {
  background-image: url(../img/billboard.jpg);
  background-size: cover;
  height: 450px;
  width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  margin-bottom: 58px;
}

.text span {
  font-family: Raleway;
  color: #646262;
  font-size: 40px;
  font-weight: 200;
  line-height: 30px;
}

.text span:first-child {
  font-weight: 600;
  padding-right: 10px;
}

button {
  background-color: rgba(236, 84, 131, 0.74);
  width: 248px;
  height: 49px;
  border-radius: 23px;
  top: 246px;
  left: 300px;
  border: 0;
  font-family: Raleway;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

button:hover {
  background-color: rgba(236, 84, 131, 1)
}
